h1,p{
    text-align: center;


}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 40px;
    color: grey;
}


.span1{
    font-style: oblique;
    }
    hr{
    border-top:2px solid black;    

    }
    ul{
        list-style-type: circle;
    }
 body{
    color: ;
 }
 .hi{
    padding-right: 15%;
    margin-bottom: 0px;
}
